apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-go-thxenqai
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-go-thxenqai:fb276d4a3611015617d031cd8f65bb254b12d1ab@sha256:b33b1ca8415bdab69276625cd2203414a2bf23c916e32587d0c606bb5b235f26
          name: container-image
